.content {
  gap: 20px;
}

.methodContainer {
  margin-top: 50px;
  margin-bottom: 30px;
}
.methods {
  max-width: 800px;
}
.method {
  cursor: pointer;
  flex: 1;
  padding: 10px 20%;
  color: rgba(0, 0, 0, 0.3);
}
.method:hover {
  color: #333;
}
.selectedMethod {
  color: #333;
}

.divideLine {
  max-width: 800px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-left: none;
  border-right: none;
}

.contact {
  max-width: 600px;
  gap: 30px;
}
.contactMethod {
  gap: 20px;
}

.contactImageContainer {
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.contactImage {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 105%;
  height: 105%;
}

.form {
  max-width: 600px;
  gap: 30px;
}
.form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formTextInput {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
  font-size: 14px;
}
.formTextarea {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
  font-size: 14px;
  resize: vertical;
}

.formFileInput {
  display: none;
}
.formLabel {
  padding: 15px;
  color: rgba(0, 0, 0, 0.5);
  border: 1px dashed rgba(0, 0, 0, 0.3);
}
.uploadedFiles {
  gap: 6px;
}
.uploadedFile {
  cursor: pointer;
  margin-right: auto;
  padding: 3px;
  gap: 3px;
}
.uploadedFile:hover > .fileDeleteIcon {
  opacity: 0.5;
}
.fileDeleteIcon {
  opacity: 0;
  width: 14px;
  height: auto;
}

.formSubmit {
  margin: auto;
  width: 100px;
  padding: 10px;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}
.disabledFormSubmit {
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.4);
}

.finalCheckDialog {
  gap: 25px;
  max-width: 250px;
}
.postCompleteDialog {
  gap: 25px;
  max-width: 500px;
}

.dialogButtonContainer button {
  max-width: 40%;
  width: 100%;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 3px;
}

.dialogChoiceButtonContainer {
  gap: 15px;
}
.dialogChoiceButtonContainer button:nth-child(1) {
  background-color: #333;
}
.dialogChoiceButtonContainer button:nth-child(2) {
  background-color: transparent;
}

.dialogCloseButtonContainer button {
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .contactImageContainer {
    width: 40px;
    height: 40px;
  }

  .finalCheckDialog {
    gap: 15px;
  }
  .postCompleteDialog {
    gap: 15px;
  }
}