.footer {
  padding: 50px 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.container {
  gap: 20px;
}

.textContainer {
  gap: 5px;
}
.textContainer:nth-last-child(1) {
  text-align: end;
}

.information > div {
  flex: 1;
}

@media screen and (max-width: 767px) {
  .information {
    gap: 20px;
  }
}