.content {
  gap: 20px;
}
.thumbnail {
  filter: invert(0.9);
  margin-left: auto;
  width: 55%;
  height: 450px;
}

@media screen and (max-width: 767px) {
  .content {
    margin-bottom: 50px;
  }
  .thumbnail {
    margin-left: none;
    width: 100%;
    height: auto;
  }
}