.dialogFadeIn {
  animation: dialogFadeIn 200ms forwards;
}
@keyframes dialogFadeIn {
  0% {
    display: none;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}

.dialogOut {
  animation: dialogOut 0ms forwards;
}
@keyframes dialogOut {
  0% {
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.rotating {
  transform-origin: bottom right;
  animation: rotating 2000ms ease-in-out infinite;
}
@keyframes rotating {
  0% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(385deg);
  }
}