.zipperStructureBackground {
  padding: 125px 20px;
}
.zipperStructure {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tag {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.tag > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tag > div > p {
  padding: 5px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .zipperStructureBackground {
    padding: 75px 20px;
  }
}