.headerFadeIn {
  animation: headerFadeIn 500ms both;
}
@keyframes headerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.headerFadeOut {
  animation: headerFadeOut 250ms both;
}
@keyframes headerFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}