.headerContainer {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  user-select: none;
  pointer-events: none;
}

.toggleButton {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 35px;
  right: 35px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  user-select: auto;
  pointer-events: auto;
}
.toggleButton > img {
  width: 85%;
  height: 85%;
  object-fit: contain;
  transform: scaleX(-1);
}

.headerBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  user-select: auto;
  pointer-events: auto;
}

.categoryContainer {
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 500px;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 500ms;
  user-select: auto;
  pointer-events: auto;
}
.toggledCategoryContainer {
  transform: translateY(0);
}

.categoryList {
  display: flex;
  justify-content: space-between;
  padding: 50px 125px;
  width: 100%;
  max-width: 800px;
  gap: 25px;
}
.category * {
  text-align: center;
  color: white;
}
.categoryClass {
  text-decoration: underline;
  text-underline-offset: 10px;
}
.categoryClass > h1 {
  font-size: 18px;
}
.categoryContent {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.categoryContent > div {
  opacity: 0.3;
  display: flex;
  justify-content: center;
  padding: 5px;
  transition: all 150ms;
}
.categoryContent p {
  cursor: pointer;
  font-size: 14px;
}

@media (hover:hover) {
  .categoryContent > div:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .toggleButton {
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
  }

  .categoryContainer {
    min-height: 400px;
  }

  .categoryList {
    flex-direction: column;
    padding: 50px 75px;
    gap: 50px;
  }

  .categoryContent {
    gap: 5px;
  }
}