* {
  padding: 0;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
}

body {
  overflow-x: hidden;
}

a {
  color: #333;
  text-decoration: none;
}

.flicking-viewport {
  overflow: hidden;
  display: flex;
}
.flicking-camera {
  display: flex;
}

.none {
  display: none;
}
.block {
  display: block;
}

.opacityNone {
  opacity: 0;
}
.opacityFull {
  opacity: 1;
}

.flex {
  display: flex;
}
.flexColumn {
  flex-direction: column;
}

.textStart {
  text-align: start;
}
.textCenter {
  text-align: center;
}
.textEnd {
  text-align: end;
}

.spaceBetween {
  justify-content: space-between;
}

.justifyStart {
  justify-content: start;
}
.justifyCenter {
  justify-content: center;
}
.justifyEnd {
  justify-content: end;
}
.alignStart {
  align-items: start;
}
.alignCenter {
  align-items: center;
}
.alignEnd {
  align-items: end;
}
.topCenter {
  top: 50%;
}
.leftCenter {
  left: 50%;
}

.limitWidth {
  max-width: 1200px;
}
.maxWidth {
  width: 100%;
}
.maxHeight {
  height: 100%;
}
.fullWidth {
  width: 100vw;
  max-width: 100%;
}
.fullHeight {
  height: 100vh;
}

.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}

.hidden {
  overflow: hidden;
}

.title {
  font-size: var(--pc-large-size);
  font-family: var(--font);
  color: #333;
  word-break: keep-all;
}
.mobileTitle {
  font-size: var(--mobile-large-size);
  font-family: var(--font);
  color: #333;
  word-break: keep-all;
}
.text {
  font-size: var(--pc-normal-size);
  font-family: var(--font);
  color: #333;
  word-break: keep-all;
}
.pcText {
  font-size: var(--pc-normal-size);
  font-family: var(--font);
  color: #333;
  word-break: keep-all;
}
.mobileText {
  font-size: var(--mobile-normal-size);
  font-family: var(--font);
  color: #333;
  word-break: keep-all;
}
.additionalText {
  font-size: 12px;
  font-family: var(--font);
  color: #333;
  word-break: keep-all;
}

.colorWhite {
  color: white;
}
.invert {
  filter: invert(1);
}
.reverse {
  transform: scaleX(-1);
}
.whiteSpaceWrap {
  white-space: pre-wrap;
}

.pointer {
  cursor: pointer;
}

.preventEvent {
  user-select: none;
  -webkit-user-drag: none;
}

@media screen and (max-width: 767px) {
  .mobileFlexColumn {
    flex-direction: column;
  }

  .mobileAlignStart {
    align-items: start;
  }

  .mobileTextStart {
    text-align: start;
  }

  .title {
    font-size: var(--mobile-large-size);
  }
  .text {
    font-size: var(--mobile-normal-size);
  }
}

@supports (-webkit-touch-callout: none) {
  .fullHeight {
    height: -webkit-fill-available;
  }
}

@font-face {
  font-family: '폰트';
  /* src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2'); */
  /* src: url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css'); */
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --pc-large-size: 32px;
  --mobile-large-size: 24px;

  --pc-normal-size: 18px;
  --mobile-normal-size: 14px;

  --font: '폰트';
}